{%extends 'base.html'%}
{%load static%}
{%block head%}
    
<link href="{% static 'css2/style2.css' %}" rel="stylesheet" />
{%endblock head%}
{%block content%}
    <div class="wrapper">
      <div class="logo">
        <img src="https://th.bing.com/th/id/OIP.6Q9KaCgc4doE6LmLrJfLogHaER?pid=ImgDet&rs=1" alt="">
      </div>
      <div class="text-center mt-4 name">
        <br/><br/>
        Reset Your Passward
      </div>
      <br/>
      <form class="p-3 mt-3">
       
          <div class="form-field d-flex align-items-center">
              <span class="far fa-user"></span>
              <input type="text" name="userName" id="userName" placeholder="Email">
          </div>
        
        
          <button class="btn mt-3">Send Me</button>
      </form>
      
    </div>
{%endblock content%}