{%extends 'base.html'%}
{%load static%}
{%block head%}
    
<link href="{% static 'css2/style2.css' %}" rel="stylesheet" />
{%endblock head%}
{%block content%}
  <div class="wrapper">
    <div class="logo">
      <img src="https://th.bing.com/th/id/OIP.6Q9KaCgc4doE6LmLrJfLogHaER?pid=ImgDet&rs=1" alt="">
    </div>
    <div class="text-center mt-4 name">
       SignUp
    </div>
    <form class="p-3 mt-3" method="post">
      {%csrf_token%}
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            {{form.username}}
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            {{form.password1}}
        </div>
        <div class="form-field d-flex align-items-center">
          <span class="fas fa-key"></span>
          {{form.password2}}
      </div>
        <button class="btn mt-3 " type="submit">SignUp</button>
    </form>
    <div class="text-center fs-6">
        <a href="{%url 'forget_passward' %}">Forget password?</a> or <a href="{%url 'login'%}">Login</a>
    </div>
  </div>
{%endblock content%}
