{%extends 'base.html'%}
{%load static%}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%block head%}
<link href="{% static 'css2/profile.css' %}" rel="stylesheet" />
{%endblock head%}
{%block content%}
<form method="post">
  {%csrf_token%}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
     {%if data.image%}
     <div class="col-md-3 border-right">
          
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{data.image.url}}"><span class="font-weight-bold">{{data.first_name}}</span><span class="text-black-50">{{data.email}}</span><span> </span></div>
     </div>
   
     
    {%else%}
    <div class="col-md-3 border-right">
          
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://www.servermx.com/export/system/modules/com.servermx.responsive/resources/assets/img/user.jpg"><span class="font-weight-bold">{{data.first_name}}</span><span class="text-black-50">{{data.email}}</span><span> </span></div>
     </div>
    {%endif%}
   
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6">{{data.first_name}}</div>
                    <div class="col-md-6">{{data.last_name}}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12"> {{data.address}}</div>
                    <div class="col-md-12">{{data.country}}</div>
                    <div class="col-md-12"> {{data.street}}</div>
                    <div class="col-md-12"> {{data.state}}</div>
                    <div class="col-md-12">{{data.phone_number}}</div>
                    <div class="col-md-12"> {{data.email}}</div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6">{{data.city}}</div>
                    <div class="col-md-6">{{data.state}}</div>
                </div>
           
            
            </div>
        </div>
      
    </div>
</div>
</div>
</div>
</form>
{%endblock content%}