{%extends 'base.html'%}
{%load static%}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%block head%}
<link href="{% static 'css/profile2_style.css' %}" rel="stylesheet" />
{%endblock head%}
{%block content%}
<form method="post">
  {%csrf_token%}
  <div class="form" style="margin-left:30rem; margin-top:2rem ;">
    <div class="title">Welcome</div>
    <div class="subtitle">Create your account!</div>
    <div class="input-container ic1">
      {% bootstrap_field form.first_name %}
      
    </div>
    <div class="input-container ic2">
      {% bootstrap_field form.last_name %}
    </div>
    <div class="input-container ic2">
      {% bootstrap_field form.email %}
    </div>
    <button type="submit" class="submit">submit</button>
  </div>
</form>
{%endblock content%}